<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TweetSense</title>	
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>  

  <body>
    <div class=title>
	  <br>
	  <p1>Tweet<span style= "color: #fff;text-shadow:-1px -1px 0 rgb(100,0,150),1px -1px 0 rgb(100,0,150),-1px 1px 0 rgb(100,0,150),1px 1px 0 rgb(100,0,150); ">Sense</span><br></p1>
	  <p2 style = "color:black">Reviews From Twitter Sentiment Analysis</p2>
	  <hr style="border: 1px outset #595955;" color: rgb(100,0,150)>
	  <p></p>
	  <!--<form action="/review" method="post" style="text-align:left">
      <input type="text" name="movie"></input>
      <input type="submit" value="Review Movie"></input>
      </form>-->
	  <a href="/Methodology" style="padding-right:25px;color:rgb(100,0,150);">How Does It Work?</a>
	  <a href="/Validation" style="padding-left:25px;color:rgb(100,0,150);">Comparison With RottenTomatoes</a><a style = "color:rgb(245,210,0);text-shadow: 1px 1px 0 #000;"> &#8592; Read This!</a>
	  <p></p>
	  <hr style="border: 1px outset #595955;" color: rgb(100,0,150)>
	</div>
	<p style = "font-size:35px"></p>
	<!--120x178-->
	<table align = 'center'>
	{% for t in range(images.shape[1]) %}
	  <tr>
      {% for i in range(images.shape[0]) %}
		<td>
		<a href="/{{names[i,t]}}" style = "text-decoration:none">
          <img src="/static/images/Blank.jpg" width="25" height="255" style="opacity: 0;"><img src={{images[i,t]}} alt={{images[i,t]}} style="width:158px;height:235px;"><img src="/static/images/Blank.jpg" width="25" height="255" style="opacity: 0;">
          <div class="caption" style={{fontsizes[i,t]}}>{{names[i,t]}}<br><span style = "color:rgb(245,210,0);font-size:20px;text-shadow: 1px 1px 0 #000;">{{ratings[i,t]}}</span></div>
        </a>
		</td>
	  {% endfor %}
      </tr>
	{% endfor %}
	</table>
	

  </body>
</html>